.fl
  float left
.fr
  float right
.cp
  cursor pointer
.ep
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
.ft
  font-weight bold
.br
  border-radius 50%
.oh
  overflow hidden
.scrbar::-webkit-scrollbar 
  display: none;

// 文本常用样式

.p1{
    font-size: 14px;
    color: #333;
    padding-top: 30px;  
    &.no{
      padding:0  
    }
}
.p2{
  line-height: 18px;
    font-size: 12px;
    color: #666;
    padding-top: 20px;
}
.bl{
  font-weight: 700;
    font-style: normal;
} 
// --------------------
.tc{
  text-align: center  
}

.font1{
  font-size: 12px
}
.font2{
  font-size: 14px  
}
.font3{
  font-size: 16px
}

.mt15{
  margin-top: 15px
}
.mb15{
  margin-bottom: 15px
}
.mr15{
  margin-right: 15px
}
.ml15{
  margin-left: 15px  
}